
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
body{
    margin:0px; 
    padding:0px;  
   box-sizing: border-box;
background: #000;
}

/* ----header section start here----- */

header{
    width: 100%;
    height: 815px;
    background: linear-gradient(180.00deg, rgb(3, 0, 0),rgba(39, 37, 37, 0.795) 70%);
    color:#fff; 
}

.navbar{
    width: 85%;
    height: 55px;
    margin:auto; 
    margin-top: 33px;
    display:flex; 
    justify-content: space-between;
    align-items: center;
}

.logo{
color: rgb(230, 83, 60);
font-family: Inter;
font-size: 3rem;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left; 
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
   color:#fff; 
}

nav ul li {
 width: 92px;
height: 48px;
display: flex;
justify-content: center;
align-items: center;
padding: 0px 20px 0px 20px;
}
 #menu-icon{
    display: none;
    margin-right: 3rem;
}

nav #home-btn{
width: 92px;
height: 38px;
padding: 8px 16px;
border-radius: 46px;

background: rgb(230, 83, 60);
}

/* navbar end */

/* header-content start */

.header-container{
    display: flex;
    flex-direction: column;
justify-content: center;

width: 100%;

}
.header-content{
width: 530px;
height: 450px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding:0px; 
margin: 100px 50px 10px 250px;
}

.header-title{
    width: 530px;
    height: 290px;
    color:#fff; 
    font-size: 5rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    padding: 0px;
    margin: 30px 0px;
}

.header-subtitle{   width: 530px; 
height: 50px;
margin: 30px 0px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}

.header-btn{
width: 424px;
height: 54px; 
display: flex;
flex-direction: row;
margin:10px 30px 0px 230px; 
}
.btn{
  width: 224px;
height: 54px;  
margin: 0px 5px;
border-radius: 42px;
color:#fff;
font-weight: 600; 
background: rgb(230, 83, 60);
}
#small-device-join{
    display:none;
}

.download-btn{
    background: #000;
}

#unique-font{
    font-family: Dancing Script; 
 font-weight:400;
 font-size: 90px ;

}

.header-image{
position: absolute;
width: 359px;
height: 590px;
left: 1177px;
top: 268px;
}

/* header section end  */

