
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
body{
    color:#fff; 
    margin:0px; 
    padding:0px;  
   box-sizing: border-box;
background: #000;
}

/* ----header section start here----- */

header{
    width: 100%;
    height: 815px;
   background: linear-gradient(to bottom, black, rgba(32, 32, 32, 0) 30%, rgb(12, 12, 12));

    color:#fff; 
}

.navbar{
    width: 85%;
    height: 55px;
    margin:auto; 
    margin-top: 33px;
    display:flex; 
    justify-content: space-between;
    align-items: center;
}

.logo{
color: rgb(230, 83, 60);
font-family: Inter;
font-size: 3rem;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left; 
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
   color:#fff; 
}

nav ul li {
 width: 92px;
height: 48px;
display: flex;
justify-content: center;
align-items: center;
padding: 0px 20px 0px 20px;
}
 #menu-icon{
    display: none;
    margin-right: 3rem;
}

nav #home-btn{
width: 92px;
height: 38px;
padding: 8px 16px;
border-radius: 46px;

background: rgb(230, 83, 60);
}

/* navbar end */

/* header-content start */

.header-container{
    display: flex;
    flex-direction: column;
justify-content: center;

width: 100%;

}
.header-content{
width: 530px;
height: 450px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding:0px; 
margin: 100px 50px 10px 250px;
}

.header-title{
    width: 530px;
    height: 290px;
    color:#fff; 
    font-size: 5rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    padding: 0px;
    margin: 30px 0px;
}

.header-subtitle{   width: 530px; 
height: 50px;
margin: 30px 0px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}

.header-btn{
width: 424px;
height: 54px; 
display: flex;
flex-direction: row;
margin:10px 30px 0px 230px; 
}
.btn{
  width: 224px;
height: 54px;  
margin: 0px 5px;
border-radius: 42px;
color:#fff;
font-weight: 600; 
background: rgb(230, 83, 60);
}
#small-device-join{
    display:none;
}

.download-btn{
    background: #000;
}

#unique-font{
    font-family: Dancing Script; 
 font-weight:400;
 font-size: 90px ;

}

.header-image{
position: absolute;
width: 359px;
height: 590px;
left: 1177px;
top: 268px;
}

/* header section end  */



/* main section start  */

.change-section{
width: 1200px;
height: 555px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin-left: 200px;
margin-right: 200px;
}

.change-habits{
width:490px; 
height: 65px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin: 0px 0px 35px 250px; 
}

.change-habits-subtitle{
width: 680px;
height: 55px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
margin: 0px 0px 50px 250px;
}

.change-card{
width: 1250px;
height: 290px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 0px 0px 50px 300px;
}

.change-img{
width: 272px;
height: 180px;
padding-left: 33.5px;
top: 0;

}

.change-img img{
    border: 0px solid #000;
border-radius: 50%;
}

.change-img-title{
    width: 133px;
height: 22px;
margin: 6px 0px 15px 30px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding-left: 29px;
}

.change-img-subtitle{
width: 290px;
height: 36px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.3px;
text-align: center;
margin: 5px 60px 0px 0px;
padding: 0px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding-right: 0px;

}

.run-extra-mile{
width: 1360px;
height: 391px;
border-radius: 18px;
background: rgb(34, 34, 34);
margin: 62px  0px 0px 270px;
display: flex;
flex-direction: row;
}

.text-card{
display: flex;
flex-direction: column;
width: 500px;
height:330px;
margin:5px 20px 45px 90px ;

}

.run-extra-mile-text{
width: 343px;
height: 116px;
gap: 14;
padding-left: 1px;
padding-top: 20px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin-top: 34px;
}

.run-extra-mile-subtitle{
width: 443px;
height: 72px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
padding-left: 1px;
margin-bottom: 33px;
margin-top: 10px;
}

.img-card{
width: 390px;
height: 322px; 
border-radius: 18px;

background-image: url(../images/run.jpg); 
background-size: cover;          
 background-repeat: no-repeat;   
background-position: center; 
margin:45px 0px 0px 290px 
}

  /* Trainings And Exercise  start*/



.training-exercise-section{
 width: 1200px;
height: 255px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin-left: 30px;
}

.training-exercise-text{
width: 671px;
height: 120px;
margin: 58px 0px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 0px;
}

.training-section-title{
width: 673px;
height: 68px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}

.training-section-subtitle{width: 671px;
height: 48px;
gap: 14;
padding-left: 10px;
margin-top: 32px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
}

.training-img-section{
    width: 1200px;
    height: 400px; 
    color:#000; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 325px;
}
.img-1{
width: 323px;
height: 200px;
left: -16px;
top: 0;
background:url(../images/exercise1.jpg),  rgba(20, 252, 213, 0.5);
background-blend-mode: lighten;
background-size: cover;          
background-repeat: no-repeat;   
background-position: center; 
}

.img-2{
width: 553px;
height: 200px;
left: -16px;
top: 0;
background:url(../images/exercise2.png),  rgba(197, 138, 138, 0.5);
background-blend-mode: lighten;
background-size: cover;          
background-repeat: no-repeat;   
background-position: center; 
}

.img-3{
width: 324px;
height: 200px;
left: -16px;
top: 0;
background:url(../images/exercise3.png),  rgba(194, 179, 179, 0.534);
background-blend-mode: lighten;
background-size: cover;          
background-repeat: no-repeat;   
background-position: center; 
}

.img-4{
width: 433px;
height: 200px;
left: -16px;
top: 0;
background:url(../images/exercise4.png),  rgba(177, 168, 168, 0.658);
background-blend-mode: lighten;
background-size: cover;          
background-repeat: no-repeat;   
background-position: center; 
}

.img-5{
width: 350px;
height: 200px;
left: -16px;
top: 0;
background:url(../images/exercise5.jpg),  rgba(139, 245, 129, 0.5);
background-blend-mode: lighten;
background-size: cover;          
background-repeat: no-repeat;   
background-position: center; 
}

.img-6{
width: 417px;
height: 200px;
left: -16px;
top: 0;
background:url(../images/exercise6.jpg),  rgba(140, 165, 229, 0.6);
background-blend-mode: lighten;
background-size: cover;          
background-repeat: no-repeat;   
background-position: center; 
}


/* BMI Section Start */


.bmi-text-container{
width: 671px;
height: 120px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 0px;
margin: 88px 0px 0px 430px;
}

.bmi-title{
width: 353px;
height: 58px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}

.bmi-subtitle{
    width: 671px;
height: 48px;
margin: 35px 0px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
}

.bmi-calculator-chart {
    width: auto;
    height: 550px;
    background: rgb(34, 34, 34);
    margin:88px 0px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bmi-chart-left{
    width: 550px;
    height: 550px; 
    margin:100px 200px 50px 100px; 
}

.bmi-chart-title{
width: 463px;
    height: 34px;
    margin: 14px 0px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 38px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}

 .bmi-calculator-chart .bmi-chart-left .bmi-table{
     width: 300px;
     height: 250px;
     border-collapse:collapse; 
    margin: 75px 0px 0px 0px;
    font-size: 18px;
    text-align: center;
}

  .bmi-calculator-chart .bmi-chart-left .bmi-table tr{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;

}
 .bmi-calculator-chart .bmi-chart-left .bmi-table th{
    color: #fff;
}

.bmi-calculation{
width: 677px;
height: 486px;
left: 674px;
top: 29px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 34;
padding: 0px;

}

.bmi-calculation-title{
width: 443px;
height: 44px;
color: rgb(255, 255, 255);
margin-top: -33px;
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 90%;
letter-spacing: 0%;
text-align: left;
}

.bmi-calculation-subtitle{
 width: 577px;
height: 48px;
margin: 14px 0px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
margin: 50px 0px 50px 0px;
}

.bmi-form{
  color:#fff; 
 
}
.bmi-btn{
width: 282.5px;
height: 48px;
padding: 12px 40px 12px 20px;
margin: 5px 8px;
border-radius: 8px;
color:#fff; 
background: rgba(255, 255, 255, 0.1);

}

#full-btn{
    width: 88%;
     margin-bottom: 45px;
}

/* Team Section Start  */

.team-section{
    width: 771px;
height: 180px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 14;
padding: 0px;
margin: 58px auto;

}

.team-section-title{
width: 464px;
height: 58px;
margin: 14px 0px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 800;
line-height: 110%;
letter-spacing: 0%;
text-align: left;
}


.team-section-subtitle{
width: 600px;
height: 50px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
margin-top: 35px;
margin-left: -40px;
}

.team-members{
width: 1130px;
height: 618px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: flex-start;
border-radius: 18px;
background: rgba(255, 255, 255, 0.1);
margin-left: 380px;
}

.team-members-img{
width: 336.67px;
height: 272px;
margin: 15px 15px;
border-radius: 18px;
gap: 20;
background: rgba(0, 0, 0, 0.2),url(image);
}